* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

/*----------
    Header
-----------*/

header {
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 40px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    vertical-align: middle;
}

/*----------
    Main
-----------*/

.container {
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding: 10px 40px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

#button-task {
    border: none;
    background-color: #45ABEA;
    border-radius: 5px;
    height: 25px;
    width: 75px;
    color: white;
}

#button-section {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    color: lightgray;
}

.downwards-triangle-arrowhead {
    display: inline-block;
    height: 15px;
    width: 15px;
    font-size: 24px;
    vertical-align: middle;
}

h3 {
    display: inline-block;
    vertical-align: middle;
}

.row {
    margin-top: 10px;
}

.circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid #64C0A9;
    border-radius: 50%;
    color: #64C0A9;
    text-align: center;
    vertical-align: middle;
}

h4 {
    display: inline-block;
    font-weight: normal;
    vertical-align: middle;
    margin-left: 5px;
}

.editorial {
    display: inline-block;
    height: 20px;
    width: 60px;
    background-color: #45ABEA;
    font-size: x-small;
    color: white;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}
/* da sistemare e accorpare */