* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

/*----------
    Header
-----------*/

header {
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 40px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    vertical-align: middle;
}

/*----------
    Main
-----------*/

.container {
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding: 10px 40px;
}

.container.button{
    border-bottom: 2px solid #F6F8F9;
}

button {
    height: 25px;
    border-radius: 5px;
    font-size: small;
    font-family: 'Roboto', sans-serif;
}

#task {
    border: none;
    background-color: #45ABEA;
    width: 75px;
    color: white;
}

#section {
    background-color: white;
    border: 1px solid lightgray;
    width: 100px;
    color: lightgray;
}

#first-section{
    padding-top: 20px;
}

.downwards-triangle-arrowhead {
    display: inline-block;
    height: 15px;
    width: 15px;
    font-size: 24px;
    vertical-align: middle;
}

h3 {
    display: inline-block;
    vertical-align: middle;
}

.row {
    margin-top: 10px;
    line-height: 20px;
}

.circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.circle.check {
    color: #64C0A9;
    border-color: #64C0A9;
}

.circle.cross {
    color: red;
    border-color: red;
}

h4 {
    display: inline-block;
    font-weight: normal;
    vertical-align: middle;
    margin-left: 5px;
}

.box {
    display: inline-block;
    height: 20px;
    width: 60px;
    font-size: x-small;
    color: white;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
}

.box.editorial {
    background-color: #45ABEA;
}

.box.q1-goals {
    background-color: #9C72E4;
}

.box.recruiting {
    background-color: #64C0A9;
}

.box.mobile {
    background-color: #F29E33;
}

.box.website {
    background-color: #D863A1;
}

.box.sales {
    background-color: #B0C926;
}